.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .head {
  padding: 6rem;
}

.mainnav ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.mainnav ul li {
  margin: 1.5rem 1rem;
  list-style: none;
  font-weight: bold;
}

.mainnav ul li .link {
  text-decoration: none;
}

.student {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.studentslist {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user {
  margin: 100px auto;
  text-align: center;
}
.input{
  display: block;
  width: 300px;
  height: 40px;
  margin: 10px auto;

}
.btn{
  background-color: rgb(72, 72, 209);
  color: white;
  width: 300px;
  height: 30px;
  border: none;
  cursor: pointer;

}